<div class="divGen">
    <div>
        <img src="https://i.ibb.co/HYRJJSB/logo-negro.png" id="logoap" alt="Logo Argentina Programa">
    </div>
    <div>
        <a href="https://www.instagram.com/sol_17_ar/" target="_blank"><img src="https://i.ibb.co/1GpCpjv/insta.png" id="redes" alt="link y logo de instagram" ></a>
       
        <a href="https://www.facebook.com/solsito1412/" target="_blank"><img src="https://i.ibb.co/q1xHwZb/face.png" id="redes" alt="link y logo de facebook" ></a>
        
        <a href="https://github.com/Solsticio97" target="_blank"><img src="https://i.ibb.co/K5jxXQy/git.png" id="redes" alt="link y logo de git" ></a>

        <button type="image" class="btn btn-lghti"> <img src="https://i.ibb.co/XxkbYRC/menu.png" height ="50" width="50" /></button>
    </div>
</div>